
%opensans-regular{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
%varelaround-regular{
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}
$main: #A5C926;
$default: #111111;

