@import url(/home/questopunto/Documents/toy-store-landind/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.title, .header-main__logo, .top__title, .categories__title, .shop__top-title, .shop__item-title, .popup__title, .offer__title, .offer__info-title, .offer__subsribe-text, .gallery__title {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
}

body {
  font-weight: 400;
  color: #111111;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
}

.header-top {
  background-color: #A5C926;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 8px 0;
}

.header-top__phone {
  font-size: 10px;
  line-height: 16px;
  padding-right: 20px;
}

.header-top__email {
  font-size: 11px;
  line-height: 16px;
}

.header-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__link {
  padding: 0 7px;
}

.header-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__logo {
  font-size: 21px;
  line-height: 32px;
  padding-right: 40px;
}

.header-main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 24px;
}

.header-main__menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-main__menu-item {
  padding: 24px 18px;
}

.header-main__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__cart-item {
  padding-left: 14px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-main__cart-text {
  font-size: 13px;
  line-height: 24px;
}

.header-main__cart-amount {
  padding: 1px 7px;
  border-radius: 50%;
  background-color: #A5C926;
  color: #fff;
  width: 20px;
  height: 20px;
}

.header-main__hidden-btn {
  display: none;
}

.top {
  background-image: url("../images/bg/top-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 166px 0;
}

.top__inner {
  background-color: #fff;
  max-width: 570px;
  border-radius: 16px;
  margin: 0 auto;
  text-align: center;
}

.top__content {
  padding: 55px 77px;
}

.top__subtitle {
  color: #A5C926;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 17px;
}

.top__title {
  color: #111111;
  font-weight: 400;
  font-size: 39px;
  line-height: 48px;
  margin-bottom: 20px;
}

.top__btn {
  padding: 12px 28px;
  background-color: #A5C926;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.categories {
  background-color: #F8F8F8;
}

.categories__inner {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__item {
  max-width: 570px;
  border-radius: 16px;
  color: #fff;
  padding: 48px 0;
}

.categories__item-stuffed {
  background-color: #FFC12C;
  padding-left: 264px;
  padding-right: 93px;
  position: relative;
}

.categories__item-stuffed::before {
  content: '';
  position: absolute;
  background-image: url("../images/stuffed-animals.png");
  width: 220px;
  height: 220px;
  top: -53px;
  left: 18px;
}

.categories__item-wooden {
  background-color: #FB416B;
  text-align: right;
  padding-right: 264px;
  padding-left: 123px;
  position: relative;
}

.categories__item-wooden::after {
  content: '';
  position: absolute;
  background-image: url("../images/wooden-toys.png");
  width: 220px;
  height: 220px;
  top: -52px;
  right: 19px;
}

.categories__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 16px;
}

.categories__btn {
  border: none;
  color: #111111;
  background-color: #fff;
  font-size: 13px;
  border-radius: 20px;
  padding: 8px 24px;
  cursor: pointer;
}

.shop {
  background-color: #F8F8F8;
}

.shop__box {
  padding-bottom: 55px;
}

.shop__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 34px;
  border-bottom: 2px solid #DDDDDD;
  position: relative;
}

.shop__top::before {
  content: '';
  position: absolute;
  width: 136px;
  height: 2px;
  background-color: #A5C926;
  bottom: -2px;
  left: 0;
}

.shop__top-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.shop__top-link {
  font-size: 13px;
  line-height: 20px;
  padding-right: 26px;
  padding-bottom: 4px;
  border-bottom: 2px solid #DDDDDD;
  position: relative;
}

.shop__top-link::after {
  content: '';
  position: absolute;
  background-image: url("../images/icons/arrow-right-mini-icon.svg");
  width: 14px;
  height: 10px;
  bottom: 7px;
  right: 4px;
}

.shop__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 0;
}

.shop__item {
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  padding: 33px 44px;
}

.shop__item-img img {
  margin-bottom: 25px;
}

.shop__item-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.shop__item-price {
  padding: 2px 12px;
  background-color: #A5C926;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.popup {
  background-image: url("../images/bg/story-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 320px 112px 320px;
}

.popup__inner {
  text-align: center;
  color: #fff;
  padding: 0 41px;
  max-width: 800px;
  margin: 0 auto;
}

.popup__subtitle {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 17px;
}

.popup__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 18px;
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 26px;
}

.popup__button {
  background-color: #A5C926;
  padding: 23px 23px 23px 26px;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.offer {
  background-color: #F8F8F8;
  padding: 120px 0;
}

.offer__subtitle {
  font-size: 13px;
  line-height: 16px;
  color: #A5C926;
  margin-bottom: 18px;
  text-align: center;
}

.offer__title {
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  max-width: 447px;
  margin: 0 auto;
  text-align: center;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.offer__info {
  max-width: 451px;
}

.offer__info-title {
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  margin-bottom: 51px;
  position: relative;
}

.offer__info-title::after {
  content: '';
  position: absolute;
  background-color: #A5C926;
  width: 70px;
  height: 2px;
  left: 0;
  bottom: -21px;
}

.offer__info-text {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 26px;
}

.offer__info-btn {
  background-color: #A5C926;
  color: #fff;
  padding: 12px 28px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
}

.offer__subsribe {
  padding: 100px 20px 0px 20px;
}

.offer__subscribe-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  padding: 47px;
}

.offer__subsribe-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__subsribe-icon {
  background-color: #A5C926;
  width: 63px;
  height: 63px;
  padding: 17px 15px 15px 17px;
}

.offer__subsribe-text {
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  max-width: 343px;
  padding-left: 23px;
}

.offer__subsribe-text span {
  color: #A5C926;
}

.offer__subsribe-input {
  height: 47px;
  width: 376px;
  border-radius: 24px;
  border: 2px solid #E5E5E5;
  background-color: #F8F8F8;
  margin-right: 16px;
  padding: 0 20px;
}

.offer__subsribe-btn {
  padding: 8px 25px;
  height: 47px;
  background-color: #A5C926;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.gallery {
  background-color: #F8F8F8;
  padding-bottom: 119px;
}

.gallery__inner {
  text-align: center;
}

.gallery__subtitle {
  font-size: 13px;
  line-height: 16px;
  color: #A5C926;
  margin-bottom: 17px;
}

.gallery__title {
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  margin-bottom: 85px;
}

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 76px;
}

.gallery__item {
  padding: 0 7.5px;
}

.gallery__btn {
  padding: 12px 28px;
  background-color: #A5C926;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */